# Unit 18. break, continue

## 18.1 break

In [1]:
import random

In [5]:
while True:
  i = random.randint(1, 6)
  print(i)
  if i == 3:
    break

4
2
2
6
4
5
2
4
3

In [7]:
for i in range(5):
  print(i, end=' ')
  for k in range(5):
    print('*', end='')
    if i == k:
      break

0 *1 **2 ***3 ****4 *****

In [13]:
for i in range(5):
  print(i, end=' ')
  for k in range(5):
    print('3', end='')
    if i == k:
      break
  print('')

0 3
1 33
2 333
3 3333
4 33333

## 18.2 continue

In [9]:
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9