## Unit 16. 심사문제

In [ ]:
number = int(input())
for i in range(1, 10):
  print(f'{number} * {i} = {number * i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## Unit 17. 심사문제

In [ ]:
cash = int(input())
while cash >= 1350:
  cash -= 1350
  print(cash)

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [1]:
class Tmoney:
  def __init__(self, balance):
    self.balance = balance

  def pay(self, fare):
    if self.balance > fare:
      self.balance -= fare
      print(f'남은 잔액은 {self.balance}원 입니다.')

## Unit 18. 심사문제

In [ ]:
start, stop = map(int, input().split())
i = start
while True:
  if i > stop:
    break
  if i%10 != 3:
    print(i, end=' ')
  i += 1

1 154
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20 21 22 24 25 26 27 28 29 30 31 32 34 35 36 37 38 39 40 41 42 44 45 46 47 48 49 50 51 52 54 55 56 57 58 59 60 61 62 64 65 66 67 68 69 70 71 72 74 75 76 77 78 79 80 81 82 84 85 86 87 88 89 90 91 92 94 95 96 97 98 99 100 101 102 104 105 106 107 108 109 110 111 112 114 115 116 117 118 119 120 121 122 124 125 126 127 128 129 130 131 132 134 135 136 137 138 139 140 141 142 144 145 146 147 148 149 150 151 152 154

## Unit 19. 심사문제

In [ ]:
number = int(input())

for i in range(1, number + 1):
  for j in range(number - i):
    print(' ', end='')
  for k in range(i*2 - 1):
    print('*', end='')
  print()

5
    *
   ***
  *****
 *******
*********

# Unit 19. 심사문제

In [ ]:
a = [1, 2, 3]
a.clear()
print(a)

[]

## Unit 22. 심사문제

In [ ]:
number1, number2 = map(int, input().split())
number_list = list(2**i for i in range(number1, number2 + 1))
del number_list[1]
del number_list[-2]
print(number_list)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

## 피타고라스 수

In [2]:
for a in range(1, 333):
  for b in range(a + 1, 500):
    c = 1000 - a - b 
    if c*c == a*a + b*b:
      print(a, b, c)

200 375 425

In [4]:
for a in range(1000):
  for b in range(1000):
    c = 1000 - a - b
    if c * c == a * a + b * b:
      print(a, b, c)

0 500 500
200 375 425
375 200 425
500 0 500

In [13]:
[[a, b, c] for a in range(1, 333)
            for b in range(a + 1, 500)
              for c in range(b + 1, 1000)
                if a+b+c == 1000 and c*c == a*a + b*b]

[[200, 375, 425]]

## 만 나이

In [18]:
from datetime import date
today = date.today()
year, month, day = map(int, input('생일입력').split())
if month > today.month:
  age = today.year - year
else:
  if day > today.day:
    age = today.year - year - 1
  else:
    age = today.year - year
print(f'만 나이는 {age}입니다.')

생일입력1994 10 08
만 나이는 27입니다.

## 디지털 시계

In [23]:
total_second = 0
for hour in range(24):
  for min in range(60):
    display = f'{hour:02d}:{min:02d}'
    if '3' in display:
      total_second += 60
print(total_second)

29700