# Unit 23. 2차원 리스트

## 23.1 생성 및 인덱싱

In [1]:
a = [[10, 20], [30, 40], [50, 60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [2]:
# a[행 index][열 index]
a[1][0]

30

In [4]:
a[1][1] = 100
a

[[10, 20], [30, 100], [50, 60]]

In [5]:
import numpy as np
b = np.arange(16).reshape(4,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [7]:
b[1, 1], b[1][1]

(5, 5)

In [8]:
b[1:-1, 1:-1]

array([[ 5,  6],
       [ 9, 10]])

In [10]:
# 톱니형 리스트 - 잘 사용되지 않음
a = [[10, 20],
     [500, 600, 600],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]

In [11]:
a = []
for i in range(4):
  t = []
  for k in range(4):
    t.append(i*4 + k)
  a.append(t)
print(a)

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [16]:
[[i*4 + k for k in range(4)] for i in range(4)]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [12]:
from pprint import pprint
pprint(a, indent=4, width=30)

[   [0, 1, 2, 3],
    [4, 5, 6, 7],
    [8, 9, 10, 11],
    [12, 13, 14, 15]]

## 23.2 for 반복문 사용

In [17]:
for row in a:
  print(row)

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]

In [22]:
for row in a:
  for element in row:
    print(f'{element:2d}', end=' ')
  print()

 0  1  2  3
 4  5  6  7
 8  9 10 11
12 13 14 15

In [24]:
for w, x, y, z in a:
  print(w, x, y, z)

0 1 2 3
4 5 6 7
8 9 10 11
12 13 14 15

## 23.3 반복문으로 리스트 만들기

In [26]:
a = [[0 for _ in range(2)] for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [28]:
a = [[0]*2 for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [31]:
number = [3, 1, 3, 2, 5]

b = []
for i in number:
  line = []
  for _ in range(i):
    line.append(0)
  b.append(line)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [33]:
[[[0] * i for i in number]]

[[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]]

## 23.4 2차원 리스트의 할당과 복사

In [35]:
a = [[10, 20], [30, 40]]
b = a
b[0][0] = 500
print(b, a, sep='\n')

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [36]:
import copy
a = [[10, 20], [30, 40]]
b = copy.deepcopy(a)
b[0][0] = 500
print(b, a, sep='\n')

[[500, 20], [30, 40]]
[[10, 20], [30, 40]]