# Unit 10. 리스트와 튜플

## 10.1 리스트

In [7]:
a = [38, 21, 53, 62, 19]
print(a)

[38, 21, 53, 62, 19]

In [10]:
# 파이썬에서는 리스트 엘리먼트가 다른 자료형도 가능
person = ['James', 19, 175.4, True, [120, 80]]
print(person)

['James', 19, 175.4, True, [120, 80]]

In [12]:
# 위의 person은 다음과 같은 딕셔너리로 변경하는 것이 권장됨
person_dict = {'name':'James', 'age':19, 'height':175.4, 'isMale':True, 'bp':[120, 80]}
print(person_dict)

{'name': 'James', 'age': 19, 'height': 175.4, 'isMale': True, 'bp': [120, 80]}

### 빈 리스트 만들기

In [13]:
a = []
b = list()
print(a, b)

[] []

In [15]:
a, b = [], []
print(a, b)

[] []

### range
- range([시작숫자,] 끝나는 숫자+1 [,증가분])

In [16]:
a = range(10)
print(a)

range(0, 10)

In [18]:
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [22]:
print(list(range(2, 11, 2)))

[2, 4, 6, 8, 10]

In [23]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
- Read-only 특성(변경불가)

In [25]:
a = (38, 21, 47)
print(a)

(38, 21, 47)

In [27]:
a = 21, 34, 5
print(a)

(21, 34, 5)

In [28]:
person = ('James', 19, 175.4, True, [120, 80])
print(person)

('James', 19, 175.4, True, [120, 80])

In [32]:
a = tuple()
print(a)

()

In [34]:
# a 는 정수
a = (38)
print(a)

38

In [36]:
# a는 튜플
a = (38,)
print(a)

(38,)

In [37]:
tuple(range(5))

(0, 1, 2, 3, 4)

### 리스트 <--> 튜플

In [38]:
a = [1, 2, 3]
b = tuple(a)
print(b)

(1, 2, 3)

In [40]:
c = list(b)
print(c)

[1, 2, 3]

### 문자열

In [41]:
t = tuple('Hello')
print(t)

('H', 'e', 'l', 'l', 'o')

In [42]:
t = tuple('안녕하세요')
print(t)

('안', '녕', '하', '세', '요')

### 언팩킹(Unpacking)

In [45]:
# tuple unpacking
a = (1, 3, 4)
x, y, z = a
print(x, y, z)

1 3 4

In [46]:
# list unpacking
x, y, z = [1, 3, 5]
print(x, y, z)

1 3 5