# Unit 29. 함수

## 29.1 출력 함수 만들기

In [29]:
def hello():
  print("hello, world!")

In [30]:
hello()

hello, world!

## 29.2 덧셈 함수

In [31]:
def add(a, b):
  print(a + b)

In [32]:
add(4, 5)

9

In [33]:
# Docstrings
def add(a, b):
  """
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
  """
  print(a + b)

In [34]:
# 도움말 호출
add?

## 29.3 결과값 반환

In [35]:
def add(a, b):
  return a+b

In [36]:
add(4, 5), add(10, 20)

(9, 30)

In [37]:
x = add(23, 45)
x

68

In [38]:
def is_ten(x):
  return x== 10

In [39]:
is_ten(101//10)

True

In [40]:
def not_ten(x):
  if x == 10:
    return
  else:
    print('It is not 10')

In [41]:
not_ten(5)

It is not 10

In [42]:
not_ten(101//10)

## 29.4 여러개의 결과값 반환

In [43]:
def add_sub(a, b):
  return a + b, a - b

In [44]:
x, y = add_sub(1, 5)
x, y

(6, -4)

## 29.5 함수의 호출 과정

In [45]:
# Stack을 이용한다.

## 연습 문제
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때 가장 큰 숫자는?
-팔린드롬: 12321, 1234321

In [72]:
def cal_palin():
  mul_list = []
  for number1 in range(100, 1000):
    for number2 in range(100, 1000):
      mul = number1 * number2
      c100000 = mul//100000
      c10000 = (mul//10000)%10
      c1000 = (mul//1000)%10
      c100 = (mul//100)%10
      c10 = (mul//10)%10
      c1 = mul%10

      if mul > 100000:
        if c100000 == c1 and c10000 == c10 and c1000 == c100:
          mul_list.append(mul)
          # print(number1, number2, mul)
      else:
        if c10000 == c1 and c1000 == c10:
          # print(number1, number2, mul)
          mul_list.append(mul)

  mul_list.sort(reverse=True)
  return mul_list[0]

max_pal = cal_palin()

for number1 in range(100, 1000):
  for number2 in range(100, 1000):
    if number1 * number2 == max_pal:
      print(f'{number1} * {number2} = {max_pal}')

913 * 993 = 906609
993 * 913 = 906609

In [73]:
def is_palindrome(x):
  s = str(x)
  return s == s[::-1]

In [74]:
is_palindrome(12345)

False

In [76]:
is_palindrome(9989899)

True

In [81]:
max_pal, m, n = 0, 0, 0
for i in range(100, 1000):
  for k in range(i, 1000):
    if str(i*k) == str(i*k)[::-1]:
      if i*k > max_pal:
        max_pal = i*k
        m = i
        n = k
print(max_pal, m, n)

906609 913 993