# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [14]:
def print_number(a, b, c):
  print(a)
  print(b)
  print(c)

In [15]:
print_number(10, 20, 30)

10
20
30

In [16]:
# *x, *y: list, tuple unpacking
x, y = [10, 20, 30], (40, 50, 60)
print_number(*x)
print_number(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [17]:
def print_number2(*args):
  for arg in args:
    print(arg)

In [18]:
print_number2(10, 20, 30, 40, 50, 1, 2, 3, 5, 6)

10
20
30
40
50
1
2
3
5
6

### 고정 인수와 가변 인수

In [19]:
def print_number3(a, *args):
  print(a)
  print(args)

In [20]:
print_number3(1, 2, 3, 5, 7, 8, 9)

1
(2, 3, 5, 7, 8, 9)

In [21]:
print_number3(*x)

10
(20, 30)

In [22]:
# 가변 인수가 고정 인수보다 먼저 나오면 안됨
def print_numbers4(*args, a):
  print(args)
  print(a)

In [23]:
print_numbers4(1, 2,3 , 4, 5, 7)

TypeError: ignored

## 30.2 키워드 인수

In [25]:
def personal_info(name, age, addr):
  print('이름:', name)
  print('나이:', age)
  print('주소:', addr)

In [26]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [28]:
personal_info(age=30, addr='서울 강남구 도곡동', name='홍길동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [57]:
x = {'name':'홍길동', 'age':30, 'addr':'서울 강남구 도곡동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [58]:
# *x는 x의 키를 불러냄
personal_info(*x)

이름: name
나이: age
주소: addr

### 가변 키워드 인수

In [63]:
def personal_info2(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [64]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

### 고정 인수와 가변 키워드 인수

In [43]:
def personal_info3(name, **kwargs):
  print(name)
  print(kwargs)

In [44]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [52]:
def my_print(*args, **kwargs):
  print(*args, **kwargs)

In [69]:
my_print(10, 20, 30)

10 20 30

## 30.4 매개변수에 초기값 지정

In [70]:
def personal_info4(name, age, addr='비공개'):
  print('이름:', name)
  print('나이:', age)
  print('주소:', addr)

In [71]:
personal_info4('홍길동', 30)

이름: 홍길동
나이: 30
주소: 비공개

In [72]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동