# Unit 32. 람다함수 - 익명(Anonymous)함수

In [1]:
def plus_ten(x):
  return x + 10

In [2]:
plus_ten(10)

20

In [3]:
plus_ten2 = lambda x: x+10
plus_ten2(5)

15

In [4]:
(lambda x: x+10)(5)

15

In [8]:
list(map(lambda x: int(x)+10, input().split()))

10 20 30

[20, 30, 40]

In [9]:
def plus_ten(x):
  return int(x) + 10
list(map(plus_ten, input().split()))

10 20 30

[20, 30, 40]

### 제약사항

In [10]:
# 람다함수에서 변수를 만들 수 없음
(lambda x:y=10; x+y)(3)

SyntaxError: ignored

In [11]:
y = 10
(lambda x:x+y)(3)

13

In [12]:
a = 3; b = 5; c = a+b

### 조건부 함수

In [16]:
a = list(range(1, 11))
list(map(lambda x:str(x) if x%3 ==0 else x, a))

['1111', '1111', '3', '1111', '1111', '6', '1111', '1111', '9', '1111']

In [19]:
# 리스트 a에서 3의 배수는 문자열로, 5의 배수는 실수로 변환
list(map(lambda x: str(x) if x%3 == 0 else float(x) if x%5 == 0 else x, a))

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체 넣기

In [20]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
list(map(lambda x, y: x*y, a, b))

[6, 14, 24, 36, 50]

### filter

In [21]:
a = list(range(1, 11))
list(filter(lambda x: 4 <= x < 8, a))

[4, 5, 6, 7]