# Unit 14. else

In [ ]:
x = 5
if x == 10:
  print('it is 10.')
else:
  print("it it not 10")

it it not 10

### 3항 연산자

In [ ]:
x = 1
if x % 2 == 0:
  y = 'even'
else:
  y = 'odd'
print(y)

odd

In [ ]:
y = 'even' if x%2 == 0 else 'odd'
print(y)

odd

In [ ]:
# 90점 이상이면 'A', 80 ~ 89: B, 70~79: C, 60~69: D, ~59: F
score = int(input('점수> '))
if score >= 90:  
  print('A')
elif score > 80:
  print('B')
elif score > 70:
  print('C')
elif score > 60:
  print('D')
else:
  print('F')

점수> 98
A

In [ ]:
grade = 'A' if score >= 90 else \
            'B' if score >= 80 else \
                'C' if score >= 70 else \
                    'D' if score >= 60 else 'F'
print(grade)

A

### 조건식에서의 논리연산자

In [ ]:
x = 5
if x > 0 and x < 10:
  print('10작은 양의 정수입니다.')

10작은 양의 정수입니다.

In [ ]:
if 0 < x < 10:
  print('10작은 양의 정수입니다.')

10작은 양의 정수입니다.